<% if(success.length){ %>
<div class="alert alert-primary" role="alert">
    <%=success%>
</div>
<style>
    .alert{
        width: 30rem;
        margin: 0 auto;
        background-color: lightblue;
        height: 2rem;
        border-radius: 3px;
        text-align: center;
        justify-content: center;
    }
</style>
<% } %>
